name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: make
      run: gcc helloworld.c -o myapp
    - name: make check
      run: ./myapp
    - name: 部署並儲存執行檔 (CD)
      uses: actions/upload-artifact@v4
      with:
        name: helloworld-binary
        path: myapp
